<!DOCTYPE html>
<html>

<head>

    <title>Callahan Cohane</title>
    <meta charset="utf-8">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Nav Bar Section -->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#topSection">Callahan Cohane</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#Section1" data-toggle="tooltip" data-placement="bottom" title="Sports">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section2" data-toggle="tooltip" data-placement="bottom" title="Hiking">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section4" data-toggle="tooltip" data-placement="bottom" title="Hobbies">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section5" data-toggle="tooltip" data-placement="bottom" title="Table">Contact Information</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <br><br><br>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section1" class="bg-lightGrey">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class='card-deck'>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 w-75 mx-auto" src="static/imgs/Cal.jpg" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="font-size: 20px">Callahan Cohane</li>
                                    <li class="list-group-item" style="font-size: 18px">Python Full Stack Developer</li>
                                    
                                    </ul>
                            </div>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 w-75 mx-auto" src="https://www.ithaca.edu/css/cs/marcom/templates/IC-2L-Left-RGB.png" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="font-size: 18px">Class of 2018</li>
                                      <li class="list-group-item" style="font-size: 18px">Business Administration; Finance</li>
                                      <li class="list-group-item" style="font-size: 18px"><b>GPA:</b> 3.6/4.0</li>
                                      <li class="list-group-item" style="font-size: 18px"><b>Study Abroad:</b> Ithaca College London Center - Spring 2017</li>
                                    </ul>
                            </div>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 h-50 w-50 mx-auto" src="https://byteacademy.co/wp-content/uploads/2016/10/byte_academy_logo.png" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="font-size: 18px">Graduated December 2018</li>
                                    <li class="list-group-item" style="font-size: 18px">Python Full Stack Program</li>
                                    </ul>
                            </div>
                    </div>
                </div>
                
            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section2" class="bg-lightGrey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="Color-Black">About Me</h1>
                    <p style="font-size: 16px">I decided to pursue my passion of technology 
                        and computer science by completing the Python Full Stack Program at Byte Academy.
                         This has been an exciting transition as I have developed incredible skills ranging 
                         from building and deploying Flask apps to creating a decentralized application for betting 
                         on Overwatch League. I am excited about the future and plan to grow my knowledge of various 
                         languages and libraries. </p>
                </div>
                <div class="col-sm-4">
                    <a href="https://github.com/ccohane" target="_blank"><img style="border-radius: 50%"class= "mx-auto"height=150 width=150 src="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png"></a>
                    <a href="https://www.linkedin.com/in/callahan-cohane-74b2b95a/" target="_blank"><img style="border-radius: 50%" class= "mx-auto ml-2"height=150 width=150 src="https://img.freepik.com/free-icon/linkedin_318-136395.jpg?size=338&ext=jpg"></a>
                    
                </div>
                <div class="col-sm-4">
                 <h1 class="Color-Black">Tech Skills</h1>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Python </button> <button class="mb-1 ml-1 mt-1 mr-1"> Solidity </button> <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> <button class="mb-1 ml-1 mt-1 mr-1"> React.js </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Flask </button> <button class="mb-1 ml-1 mt-1 mr-1"> Bash </button> <button class="mb-1 ml-1 mt-1 mr-1"> Truffle </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Web3.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Node.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Remix IDE </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Pandas </button> <button class="mb-1 ml-1 mt-1 mr-1"> Numpy </button> <button class="mb-1 ml-1 mt-1 mr-1"> Matrix Factorization </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Natural Language Processing </button> 
                </div>

            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section4" style="background-color: aliceblue" class=" mt-2 ml-0 mr-0">
            <h1 class="Color-Black ml-5 mt-5 text-center">Projects</h1>
            <!-- fixed nav bar cluge -->
            <hr>
            <br>
            <div class="container-fluid">
                <div class="row ml-0 mr-0" style="background-color: aliceblue">
                    <div class='col-sm-4'>
                            <a class= 'card-img-top ml-5 mr-5 w-50 mx-auto' href = "http://junglerestaurants.ml/"><img class="img-fluid mx-auto d-block ml-5 mr-5" src="static/imgs/moose.png" alt="Jungle"></a>
                            <a href = "http://junglerestaurants.ml/" target="_blank"><h1 class="text-center" style="color: black">Jungle</h1> </a>
                        </div>
                    <div class='col-sm-4'>
                        <h2>About Jungle</h2>
                                Michael Zhang and I developed a Flask application to recommended 
                                restaurants to users based of a matrix factorization algorithm that 
                                was run on multiple gigabyte files. We also ran some natural language
                                processing algorithms on written reviews to categorize then into star reviews.
                                <br> <br><a href = "http://junglerestaurants.ml/" target="_blank"> http://junglerestaurants.ml/</a>
                    </div>
                    <div class='col-sm-4'>
                            <h1 class="Color-Black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Python </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Flask </button> <button class="mb-1 ml-1 mt-1 mr-1"> Bash </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Pandas </button> <button class="mb-1 ml-1 mt-1 mr-1"> Numpy </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Matrix Factorization </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Natural Language Processing </button> 
                    </div>
                
                </div>

                <div class="row bg-lightGrey mt-3 mb-3" >
                    <div class="col-sm-4 mt-5 mb-5">
                            <a class= 'card-img-top ml-5 mr-5 w-50 mx-auto' href = "http://Overwatchleaguecryptobets.ml/"><img class="img-fluid mx-auto d-block ml-5 mr-5" src="https://upload.wikimedia.org/wikipedia/en/9/95/Overwatch_League_logo.png" alt="Jungle"></a>
                            <a href = "http://Overwatchleaguecryptobets.ml/" target="_blank"><h1 class="text-center" style="color: black">Overwatch League CryptoBets</h1> </a>
                    </div>
                    <div class="col-sm-4 mt-5 mb-5" style="color: black">
                        <h1 style="color: black">About OWL CryptoBets</h1>
                        OWL CryptoBets is a decentralized application which allows it's users to bet on OWL Stage Playoff games with ether. 
                        I developed a smart contract in Solidity and tested it using Truffle and the Remix IDE. 
                        The front end was create using React framework. 
                        It is currently deployed to the Ropsten Test Network where you can place bets on who 
                        will come in first place and second place. Users recieve ERC721 Tokens for their bets 
                        and will be able to recieve prize money if they have a correct token after stage results are set. 
                        <br><br><a href = "http://Overwatchleaguecryptobets.ml/" target="_blank">http://Overwatchleaguecryptobets.ml/</a>
                    </div>
                    <div class="col-sm-4 mt-5 mb-5">
                            <h1 style="color: black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Solidity </button> <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> React.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Truffle </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Web3.js </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Node.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Remix IDE </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> JSX </button> <button class="mb-1 ml-1 mt-1 mr-1"> ES6 </button> 
                    </div>
                </div>
                
                <div class= "row mt-3 mb-3">
                    <div class="col-sm-4 mt-4 mb-4">
                        <a href="/Brick_Breaker"><br>
                        <img src="static/imgs/BrickBreaker.png" alt="Picture of Brick Breaker" class="img-fluid mx-auto d-block w-50">
                        <h1 style='color: black' class= "text-center">Brick Breaker</h1></a>
                    </div>
                    <div class="col-sm-4 mt-4 mb-4">
                        <h1>About Brick Breaker</h1>
                        I recreated Brick Breaker using html canvas with a javascript backend. 
                        This was a lot more difficult than I expected because I didn't use 
                        any game libraries to help me and used pure javascript. 
                         
                        <br><br>
                        <--- click to play
                    </div>
                    <div class="col-sm-4 mt-4 mb-4">
                            <h1 class="Color-Black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                    </div>
                </div>
                
    
            </div>
            <br>
    
    </section>
        <!--^^section -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  --> 
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!--^^section -->
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Footer -->

    <section id="Section5"class="bg-lightGrey">
        <!-- fixed nav bar cluge -->
        <br>
        <div class="container-fluid">

            <p class="text-center">
                This website was developed by Callahan Cohane. For more information email him at ccohane@gmail.com.
            </p>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
