<!DOCTYPE html>
<html>

<head>

    <title>Callahan Cohane</title>
    <meta charset="utf-8">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Nav Bar Section -->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#topSection">Callahan Cohane</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#Section1" data-toggle="tooltip" data-placement="bottom" title="Sports">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section2" data-toggle="tooltip" data-placement="bottom" title="Hiking">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section3" data-toggle="tooltip" data-placement="bottom" title="Hobbies">Finance Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section4" data-toggle="tooltip" data-placement="bottom" title="Traveling">Coding Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Section5" data-toggle="tooltip" data-placement="bottom" title="Table">Contact Information</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <br><br><br>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section1" class="bg-lightGrey">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class='card-deck'>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 w-75 mx-auto" src="static/imgs/Cal.jpg" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="font-size: 20px">Callahan Cohane</li>
                                    <li class="list-group-item" style="font-size: 18px">Python Full Stack Developer</li>
                                    <li class="list-group-item" style="font-size: 18px"></li>
                                    </ul>
                            </div>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 w-75 mx-auto" src="https://www.ithaca.edu/css/cs/marcom/templates/IC-2L-Left-RGB.png" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="font-size: 18px">Class of 2018</li>
                                      <li class="list-group-item" style="font-size: 18px">Business Administration; Finance</li>
                                      <li class="list-group-item" style="font-size: 18px"><b>GPA:</b> 3.6/4.0</li>
                                      <li class="list-group-item" style="font-size: 18px"><b>Study Abroad:</b> Ithaca College London Center - Spring 2017</li>
                                    </ul>
                            </div>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top mt-3 mb-3 h-50 w-50 mx-auto" src="https://byteacademy.co/wp-content/uploads/2016/10/byte_academy_logo.png" alt="Card image cap">
                                    
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="font-size: 18px">Graduated December 2018</li>
                                    <li class="list-group-item" style="font-size: 18px">Python Full Stack Program</li>
                                    </ul>
                            </div>
                    </div>
                </div>
                
            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section2" class="bg-lightGrey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="Color-Black">About Me</h1>
                    <p style="font-size: 16px">I completed my undergraduate degree in May 2018 at Ithaca College as a Business Administration Major with a Concentration in Finance. Although I enjoyed the finance career path, I decided to pursue my passion of technology and computer science by completing the Python Full Stack Program at Byte Academy. This has been an exciting transition as I have developed incredible skills ranging from building and deploying Flask apps to creating a decentralized application for betting on Overwatch League. I am excited about the future and plan to grow my knowledge of various languages and libraries. </p>
                </div>
                <div class="col-sm-4">
                 <h1 class="Color-Black">Tech Skills</h1>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Python </button> <button class="mb-1 ml-1 mt-1 mr-1"> Solidity </button> <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> <button class="mb-1 ml-1 mt-1 mr-1"> React.js </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Flask </button> <button class="mb-1 ml-1 mt-1 mr-1"> Bash </button> <button class="mb-1 ml-1 mt-1 mr-1"> Truffle </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Web3.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Node.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Remix IDE </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Pandas </button> <button class="mb-1 ml-1 mt-1 mr-1"> Numpy </button> <button class="mb-1 ml-1 mt-1 mr-1"> Matrix Factorization </button>
                 <button class="mb-1 ml-1 mt-1 mr-1"> Natural Language Processing </button> 
                </div>

            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section4" style="background-color: aliceblue" class=" mt-2 ml-0 mr-0">
            <h1 class="Color-Black ml-5 mt-5 text-center">Projects</h1>
            <!-- fixed nav bar cluge -->
            <br>
            <div class="container-fluid">
                <div class="row ml-0 mr-0" style="background-color: aliceblue">
                    <div class='col-sm-4'>
                            <a class= 'card-img-top ml-5 mr-5 w-50 mx-auto' href = "http://junglerestaurants.ml/"><img class=" ml-5 mr-5" src="static/imgs/moose.png" alt="Jungle"></a>
                            <a href = "http://junglerestaurants.ml/" target="_blank"><h1 class="text-center" style="color: black">Jungle</h1> </a>
                        </div>
                    <div class='col-sm-4'>
                        <h2>About Jungle</h2>
                                Michael Zhang and I developed a Flask application to recommended 
                                restaurants to users based of a matrix factorization algorithm that 
                                was run on multiple gigabyte files. We also ran some natural language
                                processing algorithms on written reviews to categorize then into star reviews.
                    </div>
                    <div class='col-sm-4'>
                            <h1 class="Color-Black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Python </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Flask </button> <button class="mb-1 ml-1 mt-1 mr-1"> Bash </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Pandas </button> <button class="mb-1 ml-1 mt-1 mr-1"> Numpy </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Matrix Factorization </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Natural Language Processing </button> 
                    </div>
                
                </div>
                <hr>
                <div class="row bg-lightGrey" >
                    <div class="col-sm-4 mt-2">
                            <a class= 'card-img-top ml-5 mr-5 w-50 mx-auto' href = "http://Overwatchleaguecryptobets.ml/"><img class="ml-5 mr-5" src="https://upload.wikimedia.org/wikipedia/en/9/95/Overwatch_League_logo.png" alt="Jungle"></a>
                            <a href = "http://Overwatchleaguecryptobets.ml/" target="_blank"><h1 class="text-center" style="color: black">Overwatch League CryptoBets</h1> </a>
                    </div>
                    <div class="col-sm-4 mt-2" style="color: black">
                        <h1 style="color: black">About OWL CryptoBets</h1>
                        OWL CryptoBets is a decentralized application which allows it's users to bet on OWL Stage Playoff games with ether. 
                        I developed a smart contract in Solidity and tested it using Truffle and the Remix IDE. 
                        The front end was create using React framework. 
                        It is currently deployed to the Ropsten Test Network where you can place bets on who 
                        will come in first place and second place. Users recieve ERC721 Tokens for their bets 
                        and will be able to recieve prize money if they have a correct token after stage results are set. 
                    </div>
                    <div class="col-sm-4 mt-2">
                            <h1 style="color: black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Solidity </button> <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> React.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Truffle </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Web3.js </button> 
                            <button class="mb-1 ml-1 mt-1 mr-1"> Node.js </button> <button class="mb-1 ml-1 mt-1 mr-1"> Remix IDE </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> JSX </button> <button class="mb-1 ml-1 mt-1 mr-1"> ES6 </button> 
                    </div>
                </div>
                
                <hr>
                <div class= "row">
                    <div class="col-sm-4">
                        <a href="/Brick_Breaker">
                        <img src="static/imgs/BrickBreaker.png" alt="Picture of Brick Breaker" class="img-fluid mx-auto d-block w-50">
                        <h1 style='color: black' class= "text-center">Brick Breaker</h1></a>
                    </div>
                    <div class="col-sm-4">
                        <h1>About Brick Breaker</h1>
                        I recreated Brick Breaker using html canvas with a javascript backend. 
                        This was a lot more difficult than I expected because I didn't use 
                        any game libraries to help me and used pure javascript. 
                    </div>
                    <div class="col-sm-4">
                            <h1 class="Color-Black">Tech Used</h1>
                            <button class="mb-1 ml-1 mt-1 mr-1"> Javascript </button>
                            <button class="mb-1 ml-1 mt-1 mr-1"> HTML </button> <button class="mb-1 ml-1 mt-1 mr-1"> CSS </button> 
                    </div>
                </div>
                
    
            </div>
            <br>
    
        </section>
        <!--^^section -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>    


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section3" class="bg-lightGrey">
        <h1 class="Color-Black">Work Experience</h1>
        <!-- fixed nav bar cluge -->
        <br>
        <div class="container-fluid">

            <ul class="nav nav-tabs flex-column flex-lg-row" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Finance Intern</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Landscaper</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Maintenance Worker</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 1 -->
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Finance Internship<br></h3>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Lionshare Farm<br><small>Greenwich, CT</small><br><small>Summer 2016</small></h4>

                                Lionshare Farm is owned and operated by Olympic Silver Medalist Peter Leone. Peter coaches and trains show jumping riders at the national and international levels. Lionshare Farm provides a full care training and "Meet at the Ring" programs year round.<br><br> At lionshare Farm, I was an Adminstrative Assistant to Tara Langworthy, the controller of the company. This was my first job experience working in an office setting and I was able to develop important communication bookkeeping skills.
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Skills<br></h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Created detailed cost analyses of Lionshare Farm’s expenses which were used to forecast future expenses.</li>
                                    <li>Acted as an accounts payable clerk inputting invoices into QuickBooks and communicated with vendors to solve longstanding account balance issues.</li>
                                    <li>Reconciled company books to match bank statements and organized files to easily find past invoices.</li>
                                    <li>Created analyses for management to decide whether to hire employees full time or part time and at variable hourly pay rates.</li>
                                    <li>Participated in an audit for a non-profit business (Lionshare Educational Organization) by organizing and retrieving files for an auditor. </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Lionshare Farm Campus</h3>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid mx-auto d-block w-100 border border-light" src="static/imgs/lionshareF.png">
                                <!-- Modal Section -->
                                <br>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary mx-auto d-block" data-toggle="modal" data-target="#myModal">
                                Video Of Lionshare Farm
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">Lionshare Farm</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <!-- ^^Modal Header -->

                                            <!-- Modal Body -->
                                            <div class="modal-body">
                                                <iframe src="https://player.vimeo.com/video/236801126?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="mx-auto d-block"></iframe>
                                            </div>
                                            <!-- ^^ Modal Body -->

                                            <!-- Modal Footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            <!-- ^^Modal Footer -->

                                        </div>
                                        <!--^^ Modal Content -->

                                    </div>
                                    <!--^^ Modal Dialog -->


                                </div>
                                <!--^^ Modal -->
                            </div>
                        </div>
                    </div>
                </div>

                <!--^^ Tab Pane 1 -->

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 2 -->
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Landscaper</h3>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">A.B. Reilly's Landscaping<br><small>Monroe, CT</small><br><small>Summer 2017</small></h4>

                                A.B. Reilly's is a design, landscape, and maintenance company in Monroe, CT. We serve most of Fairfield County, and strive to do so with a sense of pride and integrity. We are focused on providing a quality service and specialize in both residential and commercial applications. With our fleet of trucks, mowers, and heavy equipment we can maximize our efficiency and provide service while maintaining attention to detail.
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Skills</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Interacted with customers to provide high quality landscaping services</li>
                                    <li>Operated and maintained heavy machinery to assure optimal performance</li>
                                    <li>Worked 60 hour weeks at residential and commercial properties </li>
                                    <li>Communicated and operated effectively in a small team </li>
                                    <li>Learned proper way to treat and maintain grass</li>
                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Sikorsky Campus</h3>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid mx-auto d-block w-100 border border-light" src="static/imgs/landscaping.JPG">
                            </div>
                        </div>
                    </div>
                </div>
                <!--^^ Tab Pane 2 -->

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 3 -->
                <div class="tab-pane" id="messages" role="tabpanel">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Maintenance Worker</h3>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Easton Racquet Club<br><small>Easton, CT</small><br><small>Summer 2013-2016</small></h4>

                                The Easton Racquet Club is a members' only facility that features six Har-Tru tennis courts built with the latest HydroCourt technology, as well as two platform tennis courts for year-round play. Our magnificent pool is the center of family fun all summer long. The club also features a bocce court, ping pong, a baseketball and play area, as well as a clubhouse for social events. The club’s beautiful landscaping and woodland surroundings help create a relaxing environment where members can build lasting friendships while enjoying our racquet and swim facilities.
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Skills</h3>
                            </div>
                            <div class="card-body">

                                <ul>
                                    <li>Cooperated with teams to organize club banquets and events.</li>
                                    <li>Trained and motivated new employees on how to maintain the grounds and set up for events.</li>
                                    <li>Maintained the Har-Tru tennis courts to provide a prestine surface for the members to play on</li>
                                    <li>Created detailed schedules for maintenance workers and calculated weekly pay for employees</li>

                                </ul>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-blue">
                                <h3>Easton Racquet Club</h3>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid mx-auto d-block w-100 border border-light" src="static/imgs/ERC.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
                <!--^^ Tab Pane 3 -->

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 4 -->
                <div class="tab-pane" id="settings" role="tabpanel">

                </div>
                <!--^^ Tab Pane 4 -->

            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section id="Section4" class="bg-lightGrey">
        <h1 class="Color-Black">Finance Experience</h1>
        <!-- fixed nav bar cluge -->
        <br>
        <div class="container-fluid">

            <ul class="nav nav-tabs flex-column flex-lg-row" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Core Trading Consultants Club</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Equity And Portfolio Management</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 1 -->
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header bg-blue">
                                    <h3>IBM Presentation</h3>
                                </div>
                                <div class="card-body">
                                    <iframe class="mx-aut d-block" src='https://ithacaedu-my.sharepoint.com/personal/wreynolds1_ithaca_edu/_layouts/15/WopiFrame.aspx?sourcedoc={e3aab5e6-e850-45b4-8ed2-5d6a108f975e}&action=embedview&wdAr=1.7777777777777777' width='570px' height='367px' frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-header bg-blue">
                                    <h3>Core Trading Consultants</h3>
                                </div>
                                <div class="card-body">
                                    During my time at Ithaca College, I participated in the Core Trading Consultants Club. The Core Trading Consultants Club is a student club that manages the Ithaca College's South Hill Fund that has over $600,000 in assets. I participated as a Junior Analyst creating buy and sell presentations for the South Hill Fund's holdings. This involved analyzing the holdings and other publically traded companies that we should buy. This past semester we pitched a buy presentation for IBM which is shown to the left. In the past I also participated in a sell presentation for General Electric, and a buy presentation for First Solar.
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--^^ Tab Pane 1 -->

                <!-- - - - - - - - - - - - - - -->
                <!-- Tab Pane 2 -->
                <div class="tab-pane" id="profile1" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-5">
                            <iframe src='https://ithacaedu-my.sharepoint.com/personal/gbakkalapulo_ithaca_edu/_layouts/15/WopiFrame.aspx?sourcedoc={11631595-414a-4d66-8c65-fc84fd3ea386}&action=embedview&wdAr=1.7777777777777777' width='500px' height='367px' frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header bg-blue">
                                    <h3>EPM</h3>
                                </div>
                                <div class="card-body">
                                    As a senior at Ithaca College, I took the class Equity and Portfolio Management to develop a greater understanding of how to analyze publically traded companies. Throughout the class, we learned how to complete discount cash flows and relative analyses for companies with the ultimate goal of finding the intrinsic value of a company. I joined the health care sector and presented a sector analysis as well as a buy presentation for Zoetis Inc, an animal health care company.
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <iframe src='https://ithacaedu-my.sharepoint.com/personal/areed_ithaca_edu/_layouts/15/Doc.aspx?sourcedoc={f7073322-596b-47a9-8819-4f6873b40f96}&action=embedview&wdStartOn=1' width='350x' height='367px' frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
                        </div>
                    </div>

                </div>
                <!--^^ Tab Pane 2 -->

            </div>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <hr>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Footer -->

    <section id="Section5"class="bg-lightGrey">
        <!-- fixed nav bar cluge -->
        <br>
        <div class="container-fluid">

            <p class="text-center">
                This website was developed by Callahan Cohane. For more information email him at ccohane@gmail.com.
            </p>

        </div>
        <!--^^container -->
        <br>

    </section>
    <!--^^section -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
